<% include ../header.ejs %>

<h1>Photos</h1>
<p>
    Express stock photo application. <br/>
    <a href="/upload">Upload File</a>
</p>

<div id="photos">
    <% photos.forEach(function (photo) { %>
        <div class="photo">
            <h2><%= photo.name %></h2>
            <a href="/photo/<%= photo.id %>">
                <img src="/photos/<%= photo.path %>" />
            </a>
        </div>
    <% }); %>

    <form method="post" enctype="multipart/form-data">
        <p><input type="text" name="search" placeholder="Search" /></p>
        <p><input type="submit" value="Search" /></p>
    </form>

    <% if (locals.results) { %>
        <h3>Search Results</h3>
        <% results.forEach(function (result) { %>
            <div class="photo">
                <h4><%= result.name %></h4>
                <a href="/photo/<%= result.id %>">
                    <img src="/photos/<%= result.path %>" />
                </a>
            </div>
        <% }); %>
    <% } %>
</div>

<% include ../footer.ejs %>